<p-card
    header="{{ name }}"
    subheader="{{ role }}"
    [style]="{ width: '300px', margin: '15px' }"
>
    <ng-template pTemplate="header">
        <img
            [style]="{ height: '250px', width: '250px' }"
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
    </ng-template>
    <div class="flex justify-around">
        <p-button size="small" label="Détails"></p-button>
        <p-button size="small" label="Modifier"></p-button>
    </div>
</p-card>
