<header class="text-gray-600">
    <div
        class="flex border rounded-md bg-gray-100 sticky top-0 justify-center p-5 md:flex-row"
    >
        <a
            class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
        >
            <span class="ml-3 text-xl">Salon Écarlate</span>
        </a>
        <nav
            class="md:ml-auto flex flex-wrap items-center text-base justify-center"
        >
            <a class="mr-8 hover:text-indigo-500 cursor-pointer">Accueil</a>
            <a class="mr-8 hover:text-indigo-500 cursor-pointer"
                >Nos Services</a
            >
            <a class="mr-8 hover:text-indigo-500 cursor-pointer"
                >Nous contacter</a
            >
        </nav>
        <div class="mx-10">
            <button
                class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
            >
                Créer un compte
            </button>
            <button
                class="ml-7 inline-flex items-center bg-indigo-500 text-white border-0 py-3 px-5 focus:outline-none hover:bg-gray-200 hover:text-indigo-500 rounded text-base mt-4 md:mt-0"
            >
                Se Connecter
            </button>
        </div>
    </div>
</header>
