header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #dadada;
    color: #797979;
    height: 45px;
    font-size: 0.9rem;
}

/* Styling the logo */
.logo {
    font-size: 24px;
}

/* Styling the links container */
.links {
    display: flex;
}

/* Styling the link buttons */
.link-button {
    margin-right: 30px;
}

/* Styling the action buttons container */
.actions {
    display: flex;
}

/* Styling the action buttons */
.action-button {
    margin-right: 10px;
}

/* Styling the link and action buttons text */
.link-button p,
.action-button p {
    margin: 0;
    cursor: pointer;
}

/* Styling hover effects for buttons */
.link-button:hover,
.action-button:hover {
    opacity: 0.8;
}
