<div class="flex-col flex h-screen">
  <div class="mb-5 bg-blue-400 sticky top-0 z-50">
    <app-header></app-header>
  </div>
  <div class="flex h-[100%]">
    <div class="w-[15%] h-full">
      <div class="min-w-[250px]">
        <p-accordion [multiple]="true" [activeIndex]="[0]">
          <p-accordionTab header="Collaborateurs">
            <p class="test">Tous les employés</p>
            <p class="test">Ajouter un employé</p>
          </p-accordionTab>
          <p-accordionTab header="Clients">
            <p class="test">Tous les Clients</p>
            <p class="test">Blacklist</p>
          </p-accordionTab>
          <p-accordionTab header="Offres">
            <p class="test">Toutes les Offres</p>
            <p class="test">Toutes Promotions</p>
          </p-accordionTab>
          <p-accordionTab header="Statistiques">
            <p class="test">Ventes</p>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
    <div class="border border-red-400 p-9 flex flex-wrap gap-9">
      <router-outlet name="admin-outlet" />
    </div>
  </div>
</div>
