<div class="flex-col flex w-screen">
  <div class="mb-5 bg-blue-400"><app-header></app-header></div>
  <div class="flex h-[100%]">
    <div class="w-[15%] h-full">
      <div class="w-full min-w-[250px]">
        <p-accordion [multiple]="true" [activeIndex]="[0]">
          <p-accordionTab header="Collaborateurs">
            <p class="test">Tous les employés</p>
            <p class="test">Ajouter un employé</p>
          </p-accordionTab>
          <p-accordionTab header="Clients">
            <p class="test">Tous les Clients</p>
            <p class="test">Blacklist</p>
          </p-accordionTab>
          <p-accordionTab header="Offres">
            <p class="test">Toutes les Offres</p>
            <p class="test">Toutes Promotions</p>
          </p-accordionTab>
          <p-accordionTab header="Statistiques">
            <p class="test">Ventes</p>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
    <div
      class="w-[85%] h-[60%] border border-red-400 p-9 flex flex-wrap gap-9 overflow-scroll"
    >
      <p-card
        header="Rakotoarisoa Toavina"
        subheader="Manager"
        [style]="{ width: '300px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex justify-around">
            <p-button label="Détails"></p-button>
            <p-button
              label="Modifier"
              [style]="{ 'margin-left': '.5em' }"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
      <p-card
        header="Rakotoarisoa Toavina"
        subheader="Manager"
        [style]="{ width: '300px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex justify-around">
            <p-button label="Détails"></p-button>
            <p-button
              label="Modifier"
              [style]="{ 'margin-left': '.5em' }"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
      <p-card
        header="Rakotoarisoa Toavina"
        subheader="Manager"
        [style]="{ width: '300px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex justify-around">
            <p-button label="Détails"></p-button>
            <p-button
              label="Modifier"
              [style]="{ 'margin-left': '.5em' }"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
      <p-card
        header="Rakotoarisoa Toavina"
        subheader="Manager"
        [style]="{ width: '300px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex justify-around">
            <p-button label="Détails"></p-button>
            <p-button
              label="Modifier"
              [style]="{ 'margin-left': '.5em' }"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
      <p-card
        header="Rakotoarisoa Toavina"
        subheader="Manager"
        [style]="{ width: '300px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex justify-around">
            <p-button label="Détails"></p-button>
            <p-button
              label="Modifier"
              [style]="{ 'margin-left': '.5em' }"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
      <p-card
        header="Rakotoarisoa Toavina"
        subheader="Manager"
        [style]="{ width: '300px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex justify-around">
            <p-button label="Détails"></p-button>
            <p-button
              label="Modifier"
              [style]="{ 'margin-left': '.5em' }"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
      <p-card
        header="Rakotoarisoa Toavina"
        subheader="Manager"
        [style]="{ width: '300px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex justify-around">
            <p-button label="Détails"></p-button>
            <p-button
              label="Modifier"
              [style]="{ 'margin-left': '.5em' }"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
      <p-card
        header="Rakotoarisoa Toavina"
        subheader="Manager"
        [style]="{ width: '300px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex justify-around">
            <p-button label="Détails"></p-button>
            <p-button
              label="Modifier"
              [style]="{ 'margin-left': '.5em' }"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
      <p-card
        header="Rakotoarisoa Toavina"
        subheader="Manager"
        [style]="{ width: '300px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex justify-around">
            <p-button label="Détails"></p-button>
            <p-button
              label="Modifier"
              [style]="{ 'margin-left': '.5em' }"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
      <p-card
        header="Rakotoarisoa Toavina"
        subheader="Manager"
        [style]="{ width: '300px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex justify-around">
            <p-button label="Détails"></p-button>
            <p-button
              label="Modifier"
              [style]="{ 'margin-left': '.5em' }"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
      <p-card
        header="Rakotoarisoa Toavina"
        subheader="Manager"
        [style]="{ width: '300px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex justify-around">
            <p-button label="Détails"></p-button>
            <p-button
              label="Modifier"
              [style]="{ 'margin-left': '.5em' }"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
      <p-card
        header="Rakotoarisoa Toavina"
        subheader="Manager"
        [style]="{ width: '300px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex justify-around">
            <p-button label="Détails"></p-button>
            <p-button
              label="Modifier"
              [style]="{ 'margin-left': '.5em' }"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
