<div class="bg-gray-100 flex justify-center items-center h-screen">
  <div class="w-3/5 h-screen hidden lg:block">
    <img
      src="https://placehold.co/800x/667fff/ffffff.png?text=Your+Image&font=Montserrat"
      alt="Placeholder Image"
      class="object-cover w-full h-full"
    />
  </div>
  <div class="w-full lg:p-36 md:p-52 sm:20 p-8 lg:w-2/5">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <input
          placeholder="Email"
          formControlName="email"
          type="email"
          id="email"
          name="email"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-8">
        <input
          placeholder="Mot de passe"
          formControlName="password"
          type="password"
          id="password"
          name="password"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off"
        />
      </div>

      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-full"
      >
        Se Connecter
      </button>
    </form>
    <div
      class="flex justify-between items-center mt-6 text-blue-500 text-center"
    >
      <a href="#" class="hover:underline">Créer un compte</a>
      <a href="#" class="hover:underline">Mot de passe oublié?</a>
    </div>
  </div>
</div>
