<form
    [formGroup]="employeeForm"
    (ngSubmit)="onSubmit()"
    class="border-solid w-min flex flex-column p-5 gap-3"
>
    <h1 class="font-bold text-3xl">Ajouter un employé</h1>
    <div class="flex flex-column w-full gap-3">
        <div class="flex gap-2">
            <input
                id="firstName"
                class="w-full"
                placeholder="Nom*"
                formControlName="firstName"
                name="first name"
            />

            <input
                placeholder="Prénom*"
                class="w-full"
                formControlName="lastName"
                name="last name"
            />
        </div>

        <input
            type="email"
            placeholder="Email*"
            formControlName="email"
            name="email"
        />
        <input
            type="password"
            placeholder="Mot de Passe"
            formControlName="password"
            name="password"
        />
        <input type="password" placeholder="Confirmer le Mot de Passe" />
        <input
            placeholder="Nom d'Utilisateur*"
            formControlName="username"
            name="username"
        />
        <input placeholder="Adresse*" formControlName="adress" name="adress" />
        <div class="flex justify-content-start gap-2">
            <input
                mask="(+261) 99 99 999 99"
                formControlName="phone"
                placeholder="(+261) 34 334 00*"
                name="phone"
            />
            <select
                formControlName="role"
                placeholder="Choisir un Rôle*"
                name="role"
            ></select>
            <input
                formControlName="salary"
                prefix="Ar "
                placeholder="Ar Salaire*"
                name="salary"
            />
            />
        </div>
        <div formGroupName="hours" class="flex justify-content-start">
            <input formControlName="begin" placeholder="08h00*" />
            <p class="p-3">à</p>
            <input formControlName="end" placeholder="17h00*" />
        </div>
        <button
            label="Ajouter un Employé"
            type="submit"
            [disabled]="employeeForm.invalid"
        ></button>
    </div>
</form>
