<div class="top-part">
    <h1 style="margin-top: 10px">Gestion du personnel</h1>
    <div class="search-part">
        <mat-form-field appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <mat-label>Rechercher</mat-label>
            <input matInput placeholder="Ex: Nom d'un salarié" />
        </mat-form-field>
    </div>
</div>
<mat-divider></mat-divider>
<div class="bottom-part">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Tous les salariés"
            ><table
                mat-table
                [dataSource]="USER_DATA$"
                class="mat-elevation-z3"
            >
                <ng-container matColumnDef="matricule">
                    <th mat-header-cell *matHeaderCellDef>Matricule</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.matricule }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="nom">
                    <th mat-header-cell *matHeaderCellDef>Nom</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.firstName + element.lastName }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="poste">
                    <th mat-header-cell *matHeaderCellDef>Poste</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.role }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="statut">
                    <th mat-header-cell *matHeaderCellDef>Statut</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.status }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="button-actions">
                            <button
                                mat-stroked-button
                                (click)="openDialog(element._id)"
                            >
                                Détails
                            </button>
                            <button
                                (click)="deleteUser('test')"
                                mat-flat-button
                            >
                                <mat-icon fontIcon="delete"></mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
            <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Select page of periodic elements"
            >
            </mat-paginator
        ></mat-tab>
        <mat-tab label="Ajout d'un salarié">
            <form
                formGroupName="employeeForm"
                (ngSubmit)="onSubmit()"
                class="ajout"
            >
                <div class="form-left-side">
                    <div class="name-row">
                        <mat-form-field
                            appearance="outline"
                            class="full-width-input"
                        >
                            <mat-label>Nom</mat-label>
                            <input
                                matInput
                                required
                                formControlName="firstName"
                            />
                        </mat-form-field>

                        <mat-form-field
                            appearance="outline"
                            class="full-width-input"
                        >
                            <mat-label>Prénom</mat-label>
                            <input
                                matInput
                                required
                                formControlName="lastName"
                            />
                        </mat-form-field>
                    </div>

                    <mat-form-field
                        appearance="outline"
                        class="full-width-input"
                    >
                        <mat-label>Email</mat-label>
                        <input
                            matInput
                            placeholder="pat@example.com"
                            formControlName="email"
                            required
                        />
                    </mat-form-field>
                    <mat-form-field
                        appearance="outline"
                        class="full-width-input"
                    >
                        <mat-label>Mot de Passe</mat-label>
                        <input matInput [type]="'password'" />
                    </mat-form-field>
                    <mat-form-field
                        appearance="outline"
                        class="full-width-input"
                    >
                        <mat-label>Confirmer le mot de passe</mat-label>
                        <input matInput [type]="'password'" />
                    </mat-form-field>
                    <mat-form-field
                        appearance="outline"
                        class="full-width-input"
                    >
                        <mat-label>Nom d'utilisateur</mat-label>
                        <input
                            matInput
                            placeholder="Ex: Obelisk2000"
                            formControlName="username"
                        />
                    </mat-form-field>
                    <mat-form-field
                        appearance="outline"
                        class="full-width-input"
                    >
                        <mat-label>Adresse</mat-label>
                        <input
                            matInput
                            required
                            placeholder="Ex: Lot II V 132 Anosy"
                            formControlName="adress"
                        />
                    </mat-form-field>
                    <button
                        mat-stroked-button
                        style="
                            height: 60px;
                            color: white;
                            background-color: dodgerblue;
                            width: 100%;
                            font-size: large;
                        "
                    >
                        Ajouter un salarié
                    </button>
                </div>
                <div class="form-right-side">
                    <div class="flex justify-content-start gap-2">
                        <mat-form-field
                            appearance="outline"
                            class="full-width-input"
                        >
                            <mat-label>Numéro</mat-label>
                            <input
                                matInput
                                required
                                type="tel"
                                matInput
                                placeholder="Ex: 034-68-929-30"
                                formControlName="phone"
                            />
                        </mat-form-field>
                        <mat-form-field
                            floatLabel="always"
                            appearance="outline"
                            class="full-width-input"
                        >
                            <mat-label>Salaire</mat-label>
                            <input
                                matInput
                                type="number"
                                required
                                formControlName="salary"
                            />
                            <span matTextPrefix>MGA&nbsp;</span>
                        </mat-form-field>
                    </div>
                    <div formGroupName="hours" class="heure-container">
                        <mat-form-field
                            appearance="outline"
                            class="full-width-input"
                            required
                        >
                            <mat-label>Heure début</mat-label>
                            <input
                                matInput
                                type="number"
                                required
                                formControlName="begin"
                            />
                        </mat-form-field>
                        <p class="p-3">à</p>
                        <mat-form-field
                            appearance="outline"
                            class="full-width-input"
                        >
                            <mat-label>Heure fin</mat-label>
                            <input
                                matInput
                                type="number"
                                required
                                formControlName="end"
                                autocomplete="false"
                            />
                        </mat-form-field>
                    </div>
                    <mat-form-field appearance="outline" required>
                        <mat-label>Rôle</mat-label>
                        <mat-select>
                            @for (role of roles; track role) {
                            <mat-option [value]="role.ref">{{
                                role.nom
                            }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
        </mat-tab>
        <mat-tab label="Planning">Content 3</mat-tab>
    </mat-tab-group>
</div>
