.top-part{
    display: flex;
    gap: 3rem;
    align-items: baseline;
    margin-left: 30px;
}

.search-part{
    margin-top: 15px;
    width: 80%;
}

.bottom-part{

    padding: 20px;
}
table{
    margin-top: 50px;
}
th{
    font-size: large;
}

td{
    height: 75px;
    cursor: pointer;
}

.heure-container{
    display: flex;
}
.heure-container > p {
    margin: 20px;
}

.ajout{
    width: 50%;
    display: flex;
    gap: 1rem;
}

form{
    padding-top: 50px;
}

.name-row{
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
}
.full-width-input{
    width: 100%;
}
