<div style="height: 100%">
    <div class="sidenav-header">
        <img class="image" />
        <h2>Micky Marc</h2>
        <p>Manager</p>
    </div>
    <mat-nav-list>
        <a
            mat-list-item
            *ngFor="let item of menuItems()"
            [routerLink]="[{ outlets: { adminoutlet: [item.route] } }]"
            routerLinkActive
            #rla="routerLinkActive"
            [activated]="rla.isActive"
        >
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
        </a>
    </mat-nav-list>
</div>
