<div class="w-[100%] h-full">
  <div class="min-w-[250px]">
    <p-accordion [multiple]="true" [activeIndex]="[0]">
      <p-accordionTab header="Collaborateurs">
        <a [routerLink]="[{ outlets: { adminoutlet: ['list'] } }]" class="test"
          >Liste des employés</a
        >
        <a
          [routerLink]="[{ outlets: { adminoutlet: ['add-employee'] } }]"
          class="test"
          >Ajout d'employés</a
        >
        <a [routerLink]="[{ outlets: { adminoutlet: ['leave'] } }]" class="test"
          >Congés et Absences</a
        >
      </p-accordionTab>
      <p-accordionTab header="Clients">
        <a class="test">Tous les Clients</a>
        <a class="test">Blacklist</a>
      </p-accordionTab>
      <p-accordionTab header="Offres">
        <a class="test">Toutes les Offres</a>
        <a class="test">Toutes Promotions</a>
      </p-accordionTab>
      <p-accordionTab header="Statistiques">
        <a class="test">Ventes</a>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
