<div class="py-12 px-20">
    <app-header></app-header>
    <section class="text-gray-600">
        <div class="px-5 py-24 mx-auto">
            <div class="flex flex-col gap-3 mb-20 pl-36">
                <h2 class="text-indigo-500 tracking-widest">
                    Bienvenue au Salon de Beauté Écarlate!
                </h2>
                <h1
                    class="pl-3 sm:text-3xl text-2xl title-font mb-4 text-gray-900"
                >
                    Sublimez votre beauté avec nous !
                </h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                    Découvrez une expérience de beauté incomparable dans notre
                    salon de beauté haut de gamme situé au cœur de la ville.
                    Notre équipe d'experts dévoués vous offre une gamme complète
                    de services de beauté pour vous aider à vous sentir radieuse
                    de la tête aux pieds.
                </p>
            </div>

            <section class="text-gray-600 body-font">
                <div class="px-5 py-24 mx-auto">
                    <div
                        class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col"
                    >
                        <div
                            class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                class="sm:w-16 sm:h-16 w-10 h-10"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"
                                ></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                        </div>
                        <div
                            class="flex-grow sm:text-left text-center mt-6 sm:mt-0"
                        >
                            <h2
                                class="text-gray-900 text-lg title-font font-medium mb-2"
                            >
                                Expertise professionnelle
                            </h2>
                            <p class="leading-relaxed text-base">
                                Un salon de beauté réputé se distingue par son
                                équipe hautement qualifiée et formée, capable de
                                fournir des services de beauté de qualité
                                supérieure.
                            </p>
                            <a
                                class="cursor-pointer mt-3 text-indigo-500 inline-flex items-center"
                                >Plus de détails
                                <svg
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    class="w-4 h-4 ml-2"
                                    viewBox="0 0 24 24"
                                >
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div
                        class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col"
                    >
                        <div
                            class="flex-grow sm:text-left text-center mt-6 sm:mt-0"
                        >
                            <h2
                                class="text-gray-900 text-lg title-font font-medium mb-2"
                            >
                                Atmosphère relaxante
                            </h2>
                            <p class="leading-relaxed text-base">
                                Un bon salon de beauté crée une atmosphère
                                apaisante et accueillante, où les clients
                                peuvent se détendre et se ressourcer.
                            </p>
                            <a
                                class="cursor-pointer mt-3 text-indigo-500 inline-flex items-center"
                                >Plus de détails
                                <svg
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    class="w-4 h-4 ml-2"
                                    viewBox="0 0 24 24"
                                >
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                        <div
                            class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                class="sm:w-16 sm:h-16 w-10 h-10"
                                viewBox="0 0 24 24"
                            >
                                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                            </svg>
                        </div>
                    </div>
                    <div
                        class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col"
                    >
                        <div
                            class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                class="sm:w-16 sm:h-16 w-10 h-10"
                                viewBox="0 0 24 24"
                            >
                                <circle cx="6" cy="6" r="3"></circle>
                                <circle cx="6" cy="18" r="3"></circle>
                                <path
                                    d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"
                                ></path>
                            </svg>
                        </div>
                        <div
                            class="flex-grow sm:text-left text-center mt-6 sm:mt-0"
                        >
                            <h2
                                class="text-gray-900 text-lg title-font font-medium mb-2"
                            >
                                Produits de qualité
                            </h2>
                            <p class="leading-relaxed text-base">
                                Les meilleurs salons de beauté utilisent des
                                produits de soins de la peau et de maquillage de
                                haute qualité, adaptés à chaque type de peau.
                            </p>
                            <a
                                class="cursor-pointer mt-3 text-indigo-500 inline-flex items-center"
                                >Plus de détails
                                <svg
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    class="w-4 h-4 ml-2"
                                    viewBox="0 0 24 24"
                                >
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <button
                class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
            >
                Découvrir tous nos offres
            </button>
        </div>
    </section>
    <app-footer></app-footer>
</div>
